<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Analysis Job Statistics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1> Employee Home</h1>
        <p>Input your information in the DropDown menues below to see how you stack up against
          fellow applicants!
        </p>
      </div>
    </div>
      <div class="col-md-5">
        <label for="education-level">Select Eduction Level</label>
        <select name= "Years-experience" id= "Years-experience">
          <option value="0-1">"0-1"</option>
          <option value="1-5">"1-5"</option>
          <option value="6-10">"6-10"</option>
          <option value="11-20">"11-20"</option>
          <option value="20+">">20+"</option>
        </select>
        <label for="Major">Select Area of Study</label>
        <select name= "Major" id= "Major">
          <option value="STEM">STEM</option>
          <option value="Business">Business</option>
          <option value="Other">Other</option>
        </select>
        <label for="relevent-experience">Do You Have Relevent Experience?</label>
        <select name= "experience" id= "experience">
          <option value= "true">Yes</option>
          <option value="false">No</option>
        </select>
      </select>
      <label for="training-hours">How Many Training Hours Do You Have?</label>
      <select name= "training-hours" id= "training-hours">
        <option value= "<20">0-20</option>
        <option value="20-40">21-40</option>
        <option value= "41-60">41-60</option>
        <option value="61-80">61-80</option>
        <option value= "80">80+</option>
      </select>
      <button id="btn">Get the Selected Value</button>
      <script>
        const btn = document.querySelector('#btn');
        const years_experience = document.querySelector("#Years-experience")
        const major = document.querySelector("#Major")
        const RE = document.querySelector("#experience")
        const training_hours = document.querySelector("#training-hours")
        const parameters = []
          btn.onclick = (event) => {
              parameters.push(years_experience.value, major.value, RE.value,
               training_hours.value);
               console.log(parameters);
            event.preventDefault();
        };
function calculateScore(parameters){
//"Relevant Experience" formula calculation VARIABLES
var RE = parameters[2];
var major = parameters[1];
var years_exp = parameters[0];
var training_hours = parameters[3];


//"Relevant Experience" formula calculation SCORE ELEMENTS
var major_multiplier = {
    "STEM":4,
    "Business":2,
    "Other":1,
}

var RE_Y_years_exp = {
    "<1":2,
    "1-5":4,
    "6-10":8,
    "11-20":16,
    ">20":20
};
var RE_N_years_exp = {
    "<1":0.5,
    "1-5":1,
    "6-10":2,
    "11-20":4,
    ">20":5
};

var RE_Y_training_hours = {
    "<20":0,
    "20-40":5,
    "41-60":10,
    "61-80":15,
    ">80":20
};
var RE_N_training_hours = {
    "<20":0,
    "20-40":20,
    "41-60":40,
    "61-80":60,
    ">80":80
};

//For every person in the dataset
if (RE = true) {
    (major_multiplier * RE_Y_years_exp) + (RE_Y_training_hours)
} else {
    (major_multiplier * RE_N_years_exp) + (RE_N_training_hours)
}
};
      </script>
      </div>
      <div class="col-md-5">
        <div id="score-chart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div id="education_bar"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="employer.js"></script> -->
  <script src="{{ url_for('static', filename="js/employee.js")}}"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="data/cleaned_data.csv"></script> -->
  
</body>

</html>
