<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Analysis Job Statistics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1> Employee Home</h1>
        <p>Input your information in the DropDown menues below to see how you stack up against
          fellow applicants!
        </p>
      </div>
    </div>
      <div class="col-md-5">
        <label for="education-level">Select Eduction Level</label>
        <select name= "Education-Level" id= "Education-Level">
          <option value="Bachelors">Bachelor's Degree</option>
          <option value="Masters">Master's Degree</option>
          <option value="PhD">PhD</option>
        </select>
        <label for="Major">Select Area of Study</label>
        <select name= "Major" id= "Major">
          <option value="STEM">STEM</option>
          <option value="business">Business</option>
          <option value="other">Other</option>
        </select>
        <label for="relevent-experience">Do You Have Relevent Experience?</label>
        <select name= "experience" id= "experience">
          <option value= "True">Yes</option>
          <option value="False">No</option>
        </select>
      </select>
      <label for="training-hours">How Many Training Hours Do You Have?</label>
      <select name= "training-hours" id= "training-hours">
        <option value= 1>0-20</option>
        <option value=2>21-40</option>
        <option value= 3>41-60</option>
        <option value=4>61-80</option>
        <option value= 5>80+</option>
      </select>
      </div>
      <div class="col-md-5">
        <div id="score-chart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div id="education_bar"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="employer.js"></script> -->
  <script src="../js/employee.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!-- <script src="data/cleaned_data.csv"></script> -->
  
</body>

</html>
